Loading the Dataset

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("phone_data_trial.csv", encoding='latin-1')
df.head()

   ID Phone Name           Model        Color Storage  Price
0   1    Samsung  Galaxy A15 5G    Light Blue  128GB   17999
1   2    Samsung  Galaxy A15 5G          Blue  128GB   17999
2   3    Samsung  Galaxy A15 5G    Blue Black  128GB   17999
3   4    Oneplus         12R 5G     Iron Gray  128GB   39999
4   5    Oneplus         12R 5G     Cool Blue  128GB   39999

In [4]:
df.info()
print("\n data size:",df.size)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1432 entries, 0 to 1431
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          1432 non-null   int64
 1   Phone Name  1432 non-null   object
 2   Model       1432 non-null   object
 3   Color       1432 non-null   object
 4   Storage     1432 non-null   object
 5   Price       1432 non-null   int64
dtypes: int64(2), object(4)
memory usage: 67.2+ KB

 data size: 8592

In [5]:
print(df.isna().sum())

ID            0
Phone Name    0
Model         0
Color         0
Storage       0
Price         0
dtype: int64

Label Encoding

In [6]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [7]:
df['Model'] = df['Model'].astype(str)
df['Storage'] = df['Storage'].astype(str)


le = LabelEncoder()
df['Phone Name'] = le.fit_transform(df['Phone Name'])
df['Model'] = le.fit_transform(df['Model'])
df['Color'] = le.fit_transform(df['Color'])
df['Storage'] = le.fit_transform(df['Storage'])

In [8]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1432 entries, 0 to 1431
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          1432 non-null   int64
 1   Phone Name  1432 non-null   int32
 2   Model       1432 non-null   int32
 3   Color       1432 non-null   int32
 4   Storage     1432 non-null   int32
 5   Price       1432 non-null   int64
dtypes: int32(4), int64(2)
memory usage: 44.9 KB

   ID  Phone Name  Model  Color  Storage  Price
0   1          18     71     94        8  17999
1   2          18     71     20        8  17999
2   3          18     71     21        8  17999
3   4          11     21     87        8  39999
4   5          11     21     36        8  39999

Training the Model

In [9]:
X = df.drop(['Price'], axis=1)
y = df[['Price']]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [11]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
import xgboost as xgb
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import mean_squared_error, r2_score

Random Forest Model

In [12]:
# Train the Random Forest Regressor model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Make predictions
rf_predictions = rf_model.predict(X_test)

# Evaluate the model
rf_mse = mean_squared_error(y_test, rf_predictions)
rf_r2 = r2_score(y_test, rf_predictions)
print(f'Random Forest Regressor Model Performance:')
print(f'Mean Squared Error: {rf_mse}')
print(f'R^2 Score: {rf_r2}')

e:\Coding\8th sem codes\Flask web\env\lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Random Forest Regressor Model Performance:
Mean Squared Error: 27686397.59438467
R^2 Score: 0.9712323893627041

Naive Bayes Model

In [13]:
# Train the Naive Bayes Classifier model
nb_model = GaussianNB()
nb_model.fit(X_train, y_train)

# Make predictions
nb_predictions = nb_model.predict(X_test)

# Evaluate the model
nb_accuracy = nb_model.score(X_test, y_test)
print(f'Naive Bayes Classifier Model Performance:')
print(f'Accuracy: {nb_accuracy}')

Naive Bayes Classifier Model Performance:
Accuracy: 0.4250871080139373

e:\Coding\8th sem codes\Flask web\env\lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

AdaBoost Model

In [14]:
# Train the AdaBoost Regressor model
ab_model = AdaBoostRegressor(random_state=42)
ab_model.fit(X_train, y_train)

# Make predictions
ab_predictions = ab_model.predict(X_test)

# Evaluate the model
ab_mse = mean_squared_error(y_test, ab_predictions)
ab_r2 = r2_score(y_test, ab_predictions)
print(f'AdaBoost Regressor Model Performance:')
print(f'Mean Squared Error: {ab_mse}')
print(f'R^2 Score: {ab_r2}')

e:\Coding\8th sem codes\Flask web\env\lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

AdaBoost Regressor Model Performance:
Mean Squared Error: 127983528.48022406
R^2 Score: 0.8670184409959821

XGBoost Model

In [15]:
# Train the XGBoost model
xgb_model = xgb.XGBRegressor(objective='reg:squarederror', max_depth=6, learning_rate=0.1, n_estimators=1000, n_jobs=-1)
xgb_model.fit(X_train, y_train)

# Make predictions
xgb_predictions = xgb_model.predict(X_test)

# Evaluate the model
xgb_mse = mean_squared_error(y_test, xgb_predictions)
xgb_r2 = r2_score(y_test, xgb_predictions)
print(f'XGBoost Model Performance:')
print(f'Mean Squared Error: {xgb_mse}')
print(f'R^2 Score: {xgb_r2}')

XGBoost Model Performance:
Mean Squared Error: 13774570.30380409
R^2 Score: 0.9856875032641926

In [16]:
import pickle
with open('predict_model.pkl', 'wb') as f:
    pickle.dump(xgb_model, f)